body {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

h1 {
  text-align: center;
  font-size: 5rem;
}
#voiceSelect {
  font-size: 1.5rem;
  border-radius: 5%;
}

#DeleteVoice {
  margin-top: 20px;
  font-size: 25px;
  background-color: brown;
  border: 5px solid #000;
  border-radius: 20px;
}
